@font-face {
    font-family: 'Siemreap-Regular';
    src: url('../fonts/Siemreap-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Battambang-Regular';
    src: url('../fonts/Battambang-Regular.ttf') format('truetype');
}

body{
    background: white;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    font-family: 'siemreap-Regular', sans-serif;    
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.font-battambang{
    font-family: 'Battambang-Regular',sans-serif;
}

.font-siemreap{
    font-family: 'Siemreap-Regular',sans-serif;
}
